---
    import { Image } from "astro:assets";
    const { articleImg, category, datePublished, title, description, author, authorImg } = Astro.props
---

<article class="max-w-[327px] md:max-w-[384px] max-h-[501px] md:max-h-[522px] p-6 flex flex-col gap-6 rounded-[20px] border border-[#111] bg-white shadow-preview-card"> 
    <div class="w-full h-[200px]">
        <Image src={articleImg} alt='' class="rounded-[10px] h-full object-cover" loading="eager"/>
    </div>
    <div class="flex flex-col gap-3">
        <span class="bg-background px-3 py-1 max-w-fit rounded-[4px] font-figtree-static font-extrabold text-xs md:text-sm text-text-main">{category}</span>
        <p class="text-text-main font-figtree-var font-medium text-xs md:text-sm leading-[150%]">Published {datePublished}</p>
        <h2 class="text-text-main cursor-pointer hover:text-background transition-colors duration-300 font-figtree-static font-extrabold text-xl md:text-2xl leading-[150%]">{title}</h2>
        <p class="text-text-secondary text-sm md:text-base font-figtree-var font-medium leading-[150%]">{description}</p>
    </div>
    <div class="flex items-center gap-3">
        <Image src={authorImg} alt={author + "'s headshot"} width={32} height={32} class="rounded-[32px]"/>
        <p class="text-text-main text-sm md:text-sm font-figtree-static font-extrabold leading-[150%]">{author}</p>
    </div>
</article>
